__pycache__
geckodriver.log
tests/Pages
tests/Databases
chromedriver.exe
parser_error.log
parser_warning.log
test.py

analysis/*.csv
analysis/AnalysisUFC/*.csv
analysis/AnalysisUFC/*.csv
analysis/AnalysisUFC/df*
analysis/AnalysisUFC/.ipynb_checkpoints/